<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments::header"></div>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <form class="d-flex" role="search" action="/manage/users">
            <input class="form-control me-2" type="search" placeholder="username" aria-label="Search" name="search"
                   th:value="${search}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="row" th:each="pitch:${pitches}">
    <div class="col-sm-6 mb-3 mb-sm-0">         >
<div class="card" style="width: 18rem;" >
<!--th:src="@{${pitch.getDocuments().iterator().next()}}"-->
<!--    <img th:src="@{${pitch.getDocuments().iterator().next().getGeneratedFileName()}/${pitch.getDocuments().iterator().next().getGeneratedFileName()}}" class="card-img-top" alt="...">-->
    <div class="card-body" >
        <h5 class="card-title" th:text="${pitch.getName()}"></h5>
        <p class="card-text" th:text="${pitch.getInfo()}"></p>
        <p class="card-text" th:text="${pitch.getFullAddress()}"></p>
        <a th:href="@{/pitchInfo/{id}(id=${pitch.getId()})}" class="btn btn-primary">See Pitch</a>
    </div>
</div>
</div>
</div>



<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" th:if="${currentPage>0}">
            <a class="page-link"
               th:href="@{/pitch/searched(page=${currentPage - 1},perPage=${perPage},search=${search})}">Previous
            </a>
        </li>
        <li class="page-item" th:each="index: ${#numbers.sequence(0,totalFound/perPage,perPage)}">
            <a class="page-link" th:classappend="${currentPage==index  ?'active':''}"
               th:href="@{/pitch/searched(page=${index },perPage=${perPage},search=${search})}">[[${index+1}]]
            </a>
        </li>
        <li class="page-item" th:if="${currentPage<totalPage}">
            <a class="page-link"
               th:href="@{/pitch/searched(page=${currentPage + 1},perPage=${perPage},search=${search}) }">Next
            </a>
        </li>


    </ul>
</nav>
















































<section th:insert="fragments::js_links">
</section>

<!--<section>-->
<!--    <script src="/js/popper.min.js"></script>-->
<!--</section>-->

</body>
</html>