<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title,links)">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <th:block th:replace="${title}"></th:block>
    <th:block th:replace="${links}"></th:block>
</head>

<body>




<section th:fragment="js_links">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
</section>

</body>
</html>